
# To automatically replace the discovery token on 'vagrant up', uncomment
# the lines below:
#
#if File.exists?('user-data') && ARGV[0].eql?('up')
#  require 'open-uri'
#  require 'yaml'
# 
#  token = open('https://discovery.etcd.io/new').read
# 
#  data = YAML.load(IO.readlines('user-data')[1..-1].join)
#  data['coreos']['etcd']['discovery'] = token
# 
#  yaml = YAML.dump(data)
#  File.open('user-data', 'w') { |file| file.write("#cloud-config\n\n#{yaml}") }
#end
#

#
# coreos-vagrant is configured through a series of configuration
# options (global ruby variables) which are detailed below. To modify
# these options, first copy this file to "config.rb". Then simply
# uncomment the necessary lines, leaving the $, and replace everything
# after the equals sign..

# Size of the CoreOS cluster created by Vagrant
#$num_instances=1

# Official CoreOS channel from which updates should be downloaded
#$update_channel='alpha'

# Log the serial consoles of CoreOS VMs to log/
# Enable by setting value to true, disable with false
# WARNING: Serial logging is known to result in extremely high CPU usage with
# VirtualBox, so should only be used in debugging situations
#$enable_serial_logging=false

# Enable port forwarding of Docker TCP socket
# Set to the TCP port you want exposed on the *host* machine, default is 2376
# If 2376 is used, Vagrant will auto-increment (e.g. in the case of $num_instances > 1)
#
# To enable HTTPS (required by recent docker clients) on a dev machine, you should add
# a host entry to /etc/hosts (eg. 127.0.0.1  core.os) and use the hostname as the server
# FQDN when creating the certificates.
#
# On OSX, you should not use the default openssl tool to generate the certificates.
# You should install newer versions using homebrew for instance and use the executable
# directly instead (eg. /usr/local/Cellar/openssl/1.0.1j/bin/openssl ...args)
#
# To generate keys,  follow the instructions at https://docs.docker.com/articles/https/
#
# You can then use the docker tool locally by setting the following env vars:
#   export DOCKER_HOST='tcp://core.os:2376'
#   export DOCKER_TLS_VERIFY=1
#   export DOCKER_CERT_PATH=/PATH/TO/CERTIFICATES
#$expose_docker_tcp=2376
#$tlscacert_path = File.join(File.dirname(__FILE__), "ca.pem")
#$tlscert_path = File.join(File.dirname(__FILE__), "server-cert.pem")
#$tlskey_path = File.join(File.dirname(__FILE__), "server-key.pem")

# Setting for VirtualBox VMs
#$vb_gui = false
#$vb_memory = 1024
#$vb_cpus = 1
